Makefile
/.clickable
.directory
/.tmp-click-deps-*
/build
/upstream-libs-*
ubuntu-docviewer-app
*.user
*.user.*
moc_file.cpp
launcher/build-docviewer-launcher-Desktop-Debug/
launcher/build-docviewer-launcher-Desktop-Release/
launcher/src/docviewer-launcher.pro.user
CMakeFiles
*_automoc.cpp
moc_*
debian/files
debian/app-template/
debian/*.debhelper.log
debian/*.substvars
com.ubuntu.docviewer.desktop
com.ubuntu.docviewer.desktop.in
manifest.json
