[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
TryExec=ubuntu-docviewer-app
Exec=ubuntu-docviewer-app %f
Icon=/usr/share/ubuntu-docviewer-app/docviewer64.png
Name=Document Viewer
MimeType=text/plain;image/png;image/jpeg;image/svg+xml;application/pdf
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
