[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene %f ubuntu-docviewer-app.qml
Icon=/usr/share/ubuntu-docviewer-app/docviewer@30.png
Name=Document Viewer
MimeType=text/plain;image/png;image/jpeg;image/svg+xml;application/pdf
Path=/usr/share/ubuntu-docviewer-app
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
