[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene /usr/share/ubuntu-docviewer-app/ubuntu-docviewer-app.qml
Icon=/usr/share/ubuntu-docviewer-app/docviewer64.png
Name=Document Viewer
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
