[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=ubuntu-docviewer-app %u
Icon=${SNAP}/meta/gui/icon.png
Name=Document Viewer
Name[am]=ሰነድ መመልከቻ
Name[ar]=عارض المستندات
Name[ast]=Visor de documentos
Name[br]=Lenner teulioù
Name[bs]=Preglednik dokumenta
Name[ca]=Visualitzador de documents
Name[cy]=Syllwr Dogfen
Name[de]=Dokumentenbetrachter
Name[el]=Προβολή εγγράφων
Name[en_AU]=Document Viewer
Name[en_GB]=Document Viewer
Name[eo]=Dokumentmontrilo
Name[es]=Visor de documentos
Name[eu]=Dokumentu-ikustailea
Name[fa]=نمایشگر سند
Name[fi]=Asiakirjakatselin
Name[fo]=Skjalhyggjari
Name[fr]=Visionneuse de document
Name[fr_CA]=Visualiseur de documents
Name[gd]=Sealladair sgrìobhainnean
Name[gl]=Visor de documentos
Name[hu]=Dokumentum-megjelenítő
Name[id]=Penampil Dokumen
Name[it]=Visualizzatore di documenti
Name[lo]=ຕົວເບີ່ງເອກະສານ
Name[lv]=Dokumentu skatītājs
Name[nb]=Dokumentvisning
Name[nl]=Documentenviewer
Name[ny]=Chonela ma dokumenti
Name[pa]=ਦਸਤਾਵੇਜ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka dokumentów
Name[pt]=Documentos
Name[pt_BR]=Visualizador de documentos
Name[ru]=Программа просмотра документов
Name[sk]=Prehliadač dokumentov
Name[sl]=Pregledovalnik dokumentov
Name[sr]=Прегледач докумената
Name[sv]=Dokumentvisare
Name[tr]=Belge Görüntüleyici
Name[ug]=پۈتۈك كۆرگۈ
Name[uk]=Перегляд документів
Name[uz]=Hujjat ko'ruvchi
Name[zh_TW]=文件檢視器
Keywords=documents;viewer;pdf;reader;
Keywords[am]=ሰነዶች: መመልከቻ: pdf: ማንበቢያ:
Keywords[ar]=مستندات;عارض;قاريء;قارئ;مستند;المستندات;المستند;
Keywords[ast]=documentos;visor;pdf;llector;
Keywords[br]=teulioù;diskouezer;pdf;lenner
Keywords[bs]=dokumenti;preglednik;pdf;čitač;
Keywords[ca]=documents;visualitzador;pdf;lector;
Keywords[cy]=dogfennau;syllwr;pdf;darllenydd;
Keywords[da]=dokumenter;fremviser;pdf;læser;
Keywords[de]=Dokumente;Betrachter;PDF;Leser;Dokumentenbetrachter;PDF-Betrachter
Keywords[el]=documents;viewer;pdf;reader;έγγραφα;προβολή;πδφ;αναγνώστης;διάβασμα;
Keywords[en_AU]=documents;viewer;pdf;reader;
Keywords[en_GB]=documents;viewer;pdf;reader;
Keywords[es]=documentos;visor;pdf;lector;
Keywords[eu]=dokumentu;ikustailea;pdf;irakurlea
Keywords[fa]=documents;viewer;pdf;reader;
Keywords[fi]=documents;viewer;pdf;reader;asiakirjat;dokumentit;katselin;lukija;
Keywords[fo]=skjøl;hyggjari;psf;lesari;
Keywords[fr]=documents;visionneuse;pdf;lecteur;
Keywords[fr_CA]=documents;visualiseur;visionneuse;visionneur;visualisateur;afficheur;pdf;lecteur;
Keywords[gd]=documents;viewer;pdf;reader;sgrìobhainnean;sealladair;leughadair;inneal-leughaidh;
Keywords[gl]=documentos;visor;pdf;lector;
Keywords[hu]=dokumentumok;megtekintő;pdf;olvasó;
Keywords[id]=documents;viewer;pdf;reader;dokumen;penampil;pembaca
Keywords[it]=documenti;visualizzatore;pdf;lettore;viewer;reader;
Keywords[lo]=ເກະສານ;ຕົວເບີ່ງ;ພີດີເເຟບ;ຕົວອ່ານ;
Keywords[lv]=dokumenti;skatītājs;pdf;lasītājs;
Keywords[nb]=dokumenter;visning;pdf;leser;
Keywords[nl]=documenten;viewer;pdf;lezer;
Keywords[ny]=dokumenti;choonela;pdf;chowelengela;
Keywords[pa]=ਦਸਤਾਵੇਜ;ਦਰਸਕ;pdf;ਰੀਡਰ;
Keywords[pl]=dokumenty;przeglądarka;pdf;czytnik
Keywords[pt]=visualizador;documentos;leitor;pdf
Keywords[pt_BR]=documentos;visualizador;pdf;leitor
Keywords[ru]=документы;просмотр;pdf;чтение;
Keywords[sk]=dokumenty;prehliadač ;pdf;reader;
Keywords[sl]=dokumenti;pregledovalnik;pdf;bralnik;
Keywords[sr]=документа;прегледач;пдф;читач:
Keywords[sv]=dokument;visare;pdf;läsare;
Keywords[tr]=belgeler;görüntüleyici;pdf;okuyucu;gösterici;
Keywords[uk]=documents;viewer;pdf;reader;документи;перегляд;пдф;читання;
Keywords[uz]=hujjatlar;ko'ruvchi;pdf;o'quvchi;
Keywords[zh_TW]=documents;viewer;pdf;reader;文件;檢視器;閱讀器;
MimeType=text/plain;application/pdf
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Title=Documents
X-Ubuntu-Splash-Title[am]=ሰነዶች
X-Ubuntu-Splash-Title[ar]=المستندات
X-Ubuntu-Splash-Title[ast]=Documentos
X-Ubuntu-Splash-Title[br]=Teulioù
X-Ubuntu-Splash-Title[bs]=Dokumenti
X-Ubuntu-Splash-Title[ca]=Documents
X-Ubuntu-Splash-Title[cy]=Dogfennau
X-Ubuntu-Splash-Title[da]=Dokumenter
X-Ubuntu-Splash-Title[de]=Dokumente
X-Ubuntu-Splash-Title[el]=Έγγραφα
X-Ubuntu-Splash-Title[en_AU]=Documents
X-Ubuntu-Splash-Title[en_GB]=Documents
X-Ubuntu-Splash-Title[eo]=Dokumentoj
X-Ubuntu-Splash-Title[es]=Documentos
X-Ubuntu-Splash-Title[fa]=مستندات
X-Ubuntu-Splash-Title[fi]=Asiakirjat
X-Ubuntu-Splash-Title[fo]=Skjøl
X-Ubuntu-Splash-Title[fr]=Documents
X-Ubuntu-Splash-Title[fr_CA]=Documents
X-Ubuntu-Splash-Title[gd]=Sgrìobhainnean
X-Ubuntu-Splash-Title[gl]=Documentos
X-Ubuntu-Splash-Title[hu]=Dokumentumok
X-Ubuntu-Splash-Title[id]=Dokumen
X-Ubuntu-Splash-Title[it]=Documenti
X-Ubuntu-Splash-Title[lv]=Dokumenti
X-Ubuntu-Splash-Title[nb]=Dokumenter
X-Ubuntu-Splash-Title[nl]=Documenten
X-Ubuntu-Splash-Title[pa]=ਦਸਤਾਵੇਜ਼
X-Ubuntu-Splash-Title[pl]=Dokumenty
X-Ubuntu-Splash-Title[pt]=Documentos
X-Ubuntu-Splash-Title[ru]=Документы
X-Ubuntu-Splash-Title[sk]=Dokumenty
X-Ubuntu-Splash-Title[sl]=Dokumenti
X-Ubuntu-Splash-Title[sr]=Документи
X-Ubuntu-Splash-Title[sv]=Dokument
X-Ubuntu-Splash-Title[ug]=پۈتۈكلەر
X-Ubuntu-Splash-Title[uk]=Документи
X-Ubuntu-Splash-Title[uz]=Hujjatlar
