Source: ubuntu-docviewer-app
Priority: extra
Maintainer: Ubuntu App Cats <ubuntu-touch-coreapps@lists.launchpad.net>
Build-Depends: cmake,
               debhelper (>= 9),
               intltool,
               libpoppler-qt5-dev,
               pep8,
               pkg-config,
               pkg-kde-tools,
               python3-all,
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtchooser,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-test-plugin
Standards-Version: 3.9.4
Section: misc
Homepage: https://launchpad.net/ubuntu-docviewer-app
Vcs-Bzr: https://code.launchpad.net/~ubuntu-docviewer-dev/ubuntu-docviewer-app/trunk

Package: ubuntu-docviewer-app
Architecture: any
Depends: file-qml-plugin,
         qmlscene,
         qtdeclarative5-poppler-qml-plugin,
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Document Viewer application
 Core Document Viewer application

Package: ubuntu-docviewer-app-autopilot
Architecture: all
Depends: libautopilot-qt,
         libqt5test5,
         ubuntu-docviewer-app (>= ${source:Version}),
         ubuntu-ui-toolkit-autopilot,
         ${misc:Depends}
Description: Autopilot tests for Document Viewer Application
 This package contains the autopilot tests for the Document Viewer
